<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeLeaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>User Info</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">-->
<!--</head>-->
<!--<body><form th:action="@{/user}" th:object="${user}" method="POST">-->
<!--<div class="row md-3 offset-md-3">-->
<!--    <label class="col-sm col-form-label">Name</label>-->
<!--    <div class="col-sm-10 me-5">-->
<!--        <input type="text" name="name" th:field="*{name}" placeholder="Enter Name" class="form-control"/>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="row md-3 offset-md-3 my-2">-->
<!--    <label class="col-sm col-form-label">Email</label>-->
<!--    <div class="col-sm-10 me-5">-->
<!--        <input type="text" name="name" th:field="*{email}" placeholder="Enter Email" class="form-control"/>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="row md-3 offset-md-3">-->
<!--    <label class="col-sm col-form-label">Phone</label>-->
<!--    <div class="col-sm-10 me-5">-->
<!--        <input type="text" name="name" th:field="*{phone}" placeholder="Enter Phone" class="form-control"/>-->
<!--    </div>-->
<!--</div>-->
<!--<a th:href="@{/user}" class="btn btn-success my-2">Add User</a>-->
<!--<a th:href="@{/user/{id}(id=${user.id})}" class="btn btn-warning">Delete</a>-->
<!--</form>-->
<!--<table class="table my-5">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th scope="col">Id</th>-->
<!--        <th scope="col">Name</th>-->
<!--        <th scope="col">Email</th>-->
<!--        <th scope="col">Phone</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="user : ${user}">-->
<!--        <td th:text="${user.id}"></td>-->
<!--        <td th:text="${user.name}"></td>-->
<!--        <td th:text="${user.email}"></td>-->
<!--        <td th:text="${user.phone}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->






























<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
</head>
<body>
<div align="center">
    <h1>Add User</h1>
    <br />
    <form th:action="@{/user}" th:object="${user}" method="POST">
        <table border="0" cellpadding="10">
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name" th:field="*{name}" placeholder="Enter Name" class="form-control"/></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input type="text" name="name" th:field="*{phone}" placeholder="Enter Phone" class="form-control"/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="name" th:field="*{email}" placeholder="Enter Email" class="form-control"/></td>
            </tr>
            <tr>
                <td colspan="2"><a th:href="@{/user}" class="btn btn-success my-2">Add User</a> </td>
                <td colspan="2"><input type="button" value="Clear" class="btn btn-primary" id="btnClear" onclick="clear()" />
                    <script type="text/javascript">
                        function clear() {
                            window.location = "[[@{/}]]";
                        }
                    </script></td>
            </tr>
        </table>
    </form>
</div>
<div class="container">
    <h1>List of Users</h1>
    <table class="table"><tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Delete</th>
    </tr>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td colspan="2"><a th:href="@{/user/{id}(id=${user.id})}" class="btn btn-warning">Delete</a></td>
            </tr>
     </tbody>
    </table>
</div>
</body>
</html>
